<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sao.mapper.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.sao.model.Department" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="department_1_name" property="department1Name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, department_1_name
  </sql>
  <!-- 这个方法是我自己加的 -->
  <select id="selectAllDepartment" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_department
    ORDER BY id
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sao.model.Department" >
    insert into t_department (id, department_1_name)
    values (#{id,jdbcType=INTEGER}, #{department1Name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sao.model.Department" >
    insert into t_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="department1Name != null" >
        department_1_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="department1Name != null" >
        #{department1Name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sao.model.Department" >
    update t_department
    <set >
      <if test="department1Name != null" >
        department_1_name = #{department1Name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sao.model.Department" >
    update t_department
    set department_1_name = #{department1Name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>