<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sao.mapper.SymptomsMapper" >
  <resultMap id="BaseResultMap" type="com.sao.model.Symptoms" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="department_2_name" property="department2Name" jdbcType="VARCHAR" />
    <result column="symptoms_name" property="symptomsName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, department_2_name, symptoms_name
  </sql>
  <!-- 这个方法是我自己加的 -->
  <select id="selectSymptomsByDepartments" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_symptoms
    WHERE department_2_name=#{departments}
    ORDER BY id
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_symptoms
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_symptoms
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sao.model.Symptoms" >
    insert into t_symptoms (id, department_2_name, symptoms_name
      )
    values (#{id,jdbcType=INTEGER}, #{department2Name,jdbcType=VARCHAR}, #{symptomsName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sao.model.Symptoms" >
    insert into t_symptoms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="department2Name != null" >
        department_2_name,
      </if>
      <if test="symptomsName != null" >
        symptoms_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="department2Name != null" >
        #{department2Name,jdbcType=VARCHAR},
      </if>
      <if test="symptomsName != null" >
        #{symptomsName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sao.model.Symptoms" >
    update t_symptoms
    <set >
      <if test="department2Name != null" >
        department_2_name = #{department2Name,jdbcType=VARCHAR},
      </if>
      <if test="symptomsName != null" >
        symptoms_name = #{symptomsName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sao.model.Symptoms" >
    update t_symptoms
    set department_2_name = #{department2Name,jdbcType=VARCHAR},
      symptoms_name = #{symptomsName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>