<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sao.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.sao.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="nickName" property="nickname" jdbcType="VARCHAR" />
    <result column="avatarUrl" property="avatarurl" jdbcType="VARCHAR" />
    <result column="isDoctor" property="isdoctor" jdbcType="TINYINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, openid, sessionKey, skey,nickName, avatarUrl, isDoctor, createTime
  </sql>
  <!-- 这个方法是我自己加的 -->
  <select id="selectAllUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
  </select>

  <select id="selectByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_user
    where openid = #{openid,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sao.model.User" >
    insert into t_user (id, openid, sessionKey, skey, nickName,
      avatarUrl, isDoctor, createTime
      )
    values (#{id,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{sessionKey,jdbcType=VARCHAR},#{skey,jdbcType=VARCHAR},#{nickname,jdbcType=VARCHAR},
      #{avatarurl,jdbcType=VARCHAR}, #{isdoctor,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sao.model.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="sessionKey != null" >
        sessionKey,
      </if>
      <if test="skey != null" >
        skey,
      </if>
      <if test="nickname != null" >
        nickName,
      </if>
      <if test="avatarurl != null" >
        avatarUrl,
      </if>
      <if test="isdoctor != null" >
        isDoctor,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="skey != null" >
        #{skey,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null" >
        #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="isdoctor != null" >
        #{isdoctor,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sao.model.User" >
    update t_user
    <set >
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        sessionKey = #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="skey != null" >
        skey = #{skey,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null" >
        avatarUrl = #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="isdoctor != null" >
        isDoctor = #{isdoctor,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sao.model.User" >
    update t_user
    set openid = #{openid,jdbcType=VARCHAR},
    sessionKey = #{sessionKey,jdbcType=VARCHAR},
    skey = #{skey,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR},
      avatarUrl = #{avatarurl,jdbcType=VARCHAR},
      isDoctor = #{isdoctor,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>